@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.alert {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.alert.fade-in {
    opacity: 1;
}

.close-button {
    /* Add styles for the close button */
}